.page-footer {
  background-color: $lightgray;
  padding: 50px 50px;

  @media (min-width: $tablet-width) {
    padding: 80px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 110px;
  }

  &__social-link:hover {
    opacity: 0.6;
  }

  &__social-link:active{
    opacity: 0.3;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      justify-content: space-evenly;
    }
  }

  &__social-item {
    text-align: center;
  }
}
