@import "vars.scss";
@import "fonts.scss";

@import "header.scss";
@import "hero.scss";
@import "about.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "contacts.scss";
@import "footer.scss";

body {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy";
  font-weight: 500;
  color: $black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
